{% extends "shared/master.html" %}


{% block body %}
  <div class="main-container">
    <header class="main-header">
      <h1 class="header-text">
        <a class="landing-link" href="{{ landing_page }}">
          {{ config.site_header }}
        </a>
      </h1>
      <nav class="main-navigation">
        {{ render_partial("shared/list.html", items=root_navigation, prefix="nav") }}
      </nav>
    </header>
    <main class="main-content">
      {% block content %}{% endblock %}
    </main>
    <footer class="main-footer">
      <span class="copyright">
        Copyright &copy; {{ current_year }} &mdash; {{ config.site_author }} &mdash; All Rights Reserved
      </span>
    </footer>
  </div>
{% endblock %}
